@import url(https://rsms.me/inter/inter.css);
/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: "Logo Font";
  src: url("logo-font.ttf");
}
body {
  font-family: "Inter var";
  background: #faf8ef;
  font-size: 30px;
  color: #776e65;
}
a {
  color: inherit;
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 80px 20px;
  overflow-y: auto;
}
.popup > .content {
  background: #faf8ef;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}
.popup > .content > h2 {
  font-family: "Logo Font";
  font-size: 30px;
  color: #776e65;
  text-align: center;
  margin-bottom: 20px;
}
#help {
  text-align: center;
}
#help > p {
  padding: 100px 20px 30px;
  line-height: 1.2em;
}
#help > a {
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
#game {
  padding-top: 20px;
}
#game > h1 {
  font-family: "Logo Font";
  font-size: 70px;
  color: #776e65;
  text-align: center;
}
#game > .season-panel {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5em;
}
#game > .season-panel:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#game > .season-panel > .season {
  float: left;
}
#game > .season-panel > .reward {
  float: right;
}
#game > .energy-panel {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5em;
}
#game > .energy-panel:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#game > .energy-panel > .energy {
  float: left;
  line-height: 42px;
}
#game > .energy-panel > .buy-button {
  float: right;
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
.gameboard {
  margin: auto;
  display: grid;
  background: #bbada0;
  grid-gap: 4px;
  padding: 6px;
  border-radius: 6px;
}
.gameboard .cell {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}
.gameboard .cell-menu,
.gameboard .army-menu {
  position: absolute;
  z-index: 999;
  background: #8f7a66;
  padding: 6px;
  border-radius: 4px;
  display: flex;
  gap: 6px;
}
.gameboard .cell-menu:after,
.gameboard .army-menu:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #8f7a66 transparent;
  border-width: 8px 6px 0;
  bottom: -8px;
  left: 50%;
  margin-left: -6px;
}
.gameboard .cell-menu .menu,
.gameboard .army-menu .menu {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
  color: #faf8ef;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.army {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 4px;
}
.army .unit-count {
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}
.army .arrow-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.army .arrow-container .arrow {
  position: absolute;
}
.army .arrow-container .arrow.up {
  left: calc(50% - 15px);
  top: -30px;
  transform: rotate(-90deg);
}
.army .arrow-container .arrow.right {
  right: -30px;
  top: calc(50% - 15px);
  transform: rotate(0deg);
}
.army .arrow-container .arrow.down {
  left: calc(50% - 15px);
  bottom: -30px;
  transform: rotate(90deg);
}
.army .arrow-container .arrow.left {
  left: -30px;
  top: calc(50% - 15px);
  transform: rotate(180deg);
}
.buy-energy-popup > p {
  font-size: 20px;
  margin-bottom: 20px;
}
.buy-energy-popup > input {
  width: 100%;
  border: 1px solid #776e65;
  font-size: 26px;
  color: #776e65;
  padding: 10px 0;
  border-radius: 15px;
  text-align: center;
}
.buy-energy-popup > footer {
  margin-top: 20px;
  font-size: 20px;
}
.buy-energy-popup > footer:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.buy-energy-popup > footer > .submit {
  float: left;
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
.buy-energy-popup > footer > .cancel {
  float: right;
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
.create-army-popup {
  width: 265px;
}
.create-army-popup > p {
  font-size: 20px;
  margin-bottom: 20px;
}
.create-army-popup .army-kind-button.on {
  outline: 2px solid red;
}
.create-army-popup > input {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #776e65;
  font-size: 26px;
  color: #776e65;
  padding: 10px 0;
  border-radius: 15px;
  text-align: center;
}
.create-army-popup > footer {
  margin-top: 20px;
  font-size: 20px;
}
.create-army-popup > footer:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.create-army-popup > footer > .submit {
  float: left;
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
.create-army-popup > footer > .cancel {
  float: right;
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
.append-units-popup > p {
  font-size: 20px;
  margin-bottom: 20px;
}
.append-units-popup > input {
  width: 100%;
  border: 1px solid #776e65;
  font-size: 26px;
  color: #776e65;
  padding: 10px 0;
  border-radius: 15px;
  text-align: center;
}
.append-units-popup > footer {
  margin-top: 20px;
  font-size: 20px;
}
.append-units-popup > footer:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.append-units-popup > footer > .submit {
  float: left;
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
.append-units-popup > footer > .cancel {
  float: right;
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}
.end-game-popup {
  text-align: center;
}
.end-game-popup > p {
  font-size: 20px;
  margin-bottom: 20px;
}
.end-game-popup .army-kind-button.on {
  outline: 2px solid red;
}
.end-game-popup > .confirm {
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 42px;
  padding: 0 20px;
  border-radius: 3px;
}

